
CREATE PROCEDURE [dbo].[GET_TOTAL_SALES]( @YEAR INT,@INCREMENT DECIMAL)
AS
BEGIN
--DECLARE @YEAR INT=2018
--DECLARE @INCREMENT DECIMAL=6.7

	SELECT
    O.State,
    CAST(SUM(P.Sales) - COALESCE(SUM(CASE WHEN R.Order_Id IS NOT NULL THEN P.Sales ELSE 0 END), 0) AS DECIMAL(10, 2)) AS TOTAL_SALES
 INTO #TEMP_IINCREMENT
   FROM PRODUCTS P
    INNER JOIN ORDERS O ON P.Order_Id = O.Order_Id
    LEFT JOIN ORDER_RETURNS R ON P.Order_Id = R.Order_Id
WHERE
    YEAR(O.Order_Date) = @YEAR 
GROUP BY
    O.State
	ORDER BY O.STATE

IF(@INCREMENT=0)
BEGIN
	SELECT STATE,TOTAL_SALES,0.0 as INCREMENTED_SALES from #TEMP_IINCREMENT order by state
END
ELSE
BEGIN

	SELECT STATE,TOTAL_SALES,CAST(TOTAL_SALES *(1 + @INCREMENT / 100) AS decimal(10,2)) as INCREMENTED_SALES from #TEMP_IINCREMENT order by state

END

	drop table #TEMP_IINCREMENT 


END