@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>User Stories View</title>
    <link href="~/css/CommonStyle.css" rel="stylesheet"/>
    <link href="https://kendo.cdn.telerik.com/themes/8.0.1/default/default-main.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2024.2.514/mjs/kendo.all.js" type="module"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.514/js/kendo.grid.excel.min.js"></script>
    @*<script src="./kendo-ui-license.js"></script>*@


</head>


<body>
    <div style="margin-top:15px">USER CHOICE</div>
    <div class="filter-container-block">
        <div class="filteration-area" style="display:block">
            <div class="row">
                <div class="col-xs-12">
                    <div class="dropdown-outer-border" style="border: 1px solid #ccc; padding: 10px; display: inline-block;">
                        <div style="display: inline-block; vertical-align: top">
                            <label class="dropdown-label">YEAR</label>
                        </div>
                        <input id="year" onkeydown="return false" />
                    </div>
                    <div class="dropdown-outer-border" style="display: inline-block; vertical-align: top;margin-left:120px;width:500px;height:100px">
                        @*<label for="increment">Increment:</label>*@
                        <label class="dropdown-label">INCREMENT:</label>
                        <input type="text" id="increment" name="increment" placeholder="Please enter the incremented Percentage" style="height:40px;width:270px">
                        <button id="add" style="float:right;margin-left: 10px;width:80px;height:40px;">
                            Add
                        </button>
                    </div>
                    <button id="export" style="float:right;margin-left: 10px;">
                        Export
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <label id="value">Total Sales:</label>
    </div>
    <div class="row trim-margin">
        <div id="totalSales" style="height: 100%">
            <div class="col-xs-12 trim-padding grid-container-block" style="height:400px;overflow-y:scroll">
                <div id="totalSalesGrid" class="dashboard-grid"></div>
            </div>
        </div>
    </div>
</body>
<script  type="module" src="~/js/UserChoice.js" ></script>

